@import "tailwindcss";

:root {
  /* Superficies */
  --p-surface-0: #F9FAFB;
  --p-surface-50: #F3F4F6;
  --p-surface-100: #EEF2F4;
  --p-surface-200: #E5E7EB;

  /* Texto */
  --p-text-color: #1F2933;
  --p-text-muted-color: #6B7280;

  /* Primarios (Hilton style) */
  --p-primary-color: #0E7490;
  --p-primary-contrast-color: #FFFFFF;
  --p-primary-hover-color: #155E75;
  --p-primary-active-color: #164E63;

  /* Bordes */
  --p-border-color: #E5E7EB;

  /* Inputs */
  --p-input-bg: #FFFFFF;
  --p-input-text-color: #1F2933;
  --p-input-border-color: #D1D5DB;

  /* Highlight */
  --p-highlight-bg: #E0F2FE;
  --p-highlight-text-color: #075985;
}
